#menu {
    opacity: 1;
    transition: opacity 0.5s linear;
  }
  
#menu.hide {
  opacity: 0;
  max-height: 0;
}

/* body {
  background-color: lightblue;
} */

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  z-index: 100;
  position: absolute;
  border: 3px solid #333;
  border-radius: 50%;
  cursor: none;
  width: 170px;
  height: 170px;
}