<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div style="margin:25px">
        <input class="directory" type="text" id="directory_input" placeholder="Path to folder we want to dive in"
            autocomplete="off" list="path_options" oninput="this.setAttribute('size', this.value.length)" />
        <datalist id="path_options">
            <template id="path_template">
                <option id="path_option"></option>
            </template>
        </datalist>
        <button id="submit_button" type="submit" disabled>Show content</button>
    </div>
</body>

<script src="{{ url_for('static', filename='utils.js') }}"></script>
<script>
    var directoryInput = document.getElementById('directory_input');
    var submitButton = document.getElementById('submit_button');

    listenClickOnEnter(directoryInput, submitButton);

    // Path prompt

    directoryInput.addEventListener('input', () => {
        submitButton.disabled = (/^ *$/.test(directoryInput.value));
        showPrompt(directoryInput.value);
    })

    function enter_directory() {
        fetch(`/enter?directory=${directoryInput.value}`).then((response) => {
            if (response.redirected) {
                window.location.href = response.url;
            }
            response.json().then((data) => {
                if (data) {
                    alert(data);
                    return
                }
            })
        })
    }

    submitButton.addEventListener('click', event => {
        enter_directory();
    });
</script>

</html>